.topDropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1023px;
    height: 47px;
    background-color:#FF6060 ;
    color: white;
    margin-top: 30px;
    border-radius: 5px;

}

.topDropdown p{
    margin-left: 18px;
    font-weight: 500;
    font-size: 24px;
}

.topDropdown button{
    margin-right: 17px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
    color: #FF6060;
    width: 1023px;
    border-radius: 5px;
}

.text p {
    font-weight: 400;
    font-size: 24px;
    margin-left: 18px;
}

button{
    background-color: transparent;
    border: none;
}

.up{
    transform: rotate(180deg);
}