aside{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 76px;
    /*justify-content: space-between;*/
    width: 100%;
}

.rentalIdentity{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ff6060;
}

.place{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rentalTitle{
    font-size: 36px;
    margin: 0px;
}

.rentalPlace{
    font-size: 18px;
    margin: 0px;
}

.tagWrapper{
    display: flex;
}

.host{
    display: flex;
    justify-content: flex-end;
}

.renterPicture{
    border-radius: 50%;
    width: 64px;
    margin-left: 10px;
}

.renterName{
    width: 70px;
    text-align: right;
}